build/
data/
coverage.out
release.tar.gz
.env
nchainz/
.idea/
.csv
chain-code/
two-chains/ibc-*
two-chains/.relayer
two-chains/*.log
test/setup/valkeys/*.json
test/keys/
.DS_Store

# Don't commit the vendor directory if anyone runs 'go mod vendor'.
/vendor